
    /* Hide spinner in number input */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
    h1{
        animation: animate 1.5s linear infinite;
        color: rgb(220, 95, 0)  ;
        text-align: center;
        text-transform: capitalize;
        font-size: 32px;
        letter-spacing: 5;
        word-spacing: 5px;
        margin-bottom: 50px;
        
        margin-top: 50px;
        
    }
